button {
  margin-right: 5% !important;
  margin-top: 3px;
  margin-bottom: 3px;
}

::ng-deep {
  table.mat-table {
    border-spacing: 0;
    width: 100%;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  .mat-header-cell {
    color: black;
    font-size: 14px;
  }

  .remove-border-bottom .mat-tab-header {
    border-bottom: none;
  }

  .mat-ink-bar {
    background-color: #1665D8 !important;
  }

  .mat-button {
    background-color: #1665D8 !important;
    width: 100%;
    border-radius: 10px;
    color: white;
  }
}

.search-col {
  display: flex;
  justify-content: flex-end;
}

.tabs-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-tabs.active {
  background: none;
  color: #064fff;
  border: none;
}

.btn-tabs {
  background: none;
  color: grey;
  border: none;
}


table {
  width: 100% !important;
  margin-bottom: 10%;
  margin-right: 10%;
}

.loading-placeholder {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  max-height: 50%;
  margin-top: 2rem;
}

td {
  cursor: pointer;
}


th.mat-sort-header-sorted {
  color: black;
}

.full-width {
  width: 95%;
  margin-bottom: 1%;
}

.extreme-right {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}


.mat-elevation-z8 {
  overflow-x: auto;
  margin-top: 2%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 2px;
  line-break: unset;
  // width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: start;
  justify-content: center;
}

.mat-row,
.mat-header-row {
  display: table-row;
  position: sticky;
  top: 0;
  background-color: inherit;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  z-index: 1000;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

mat-paginator {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

}

mat-card {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background: white;
  margin: 1%;
}

ng-multiselect-dropdown {
  margin: 1% !important;
}

.same-line {
  display: flex;
  justify-content: space-between;
}

.search-btn {
  margin-left: 2%;
}

.search-field {
  width: 25%;
}