<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <app-create-service (newService)="newService($event)"></app-create-service>
</div>
<div class="max-w-7xl mb-8 mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-2xl font-extrabold text-gray-900">All Services</h2>
    <ng-container *ngIf="services.length === 0">
        <h1 class="loading-placeholder-header">No Results ...</h1>
        <img class="loading-placeholder" src="assets/svgs/no_results.svg">
    </ng-container>
    <div class="mt-6 mb-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6" *ngIf="services.length > 0">
        <div *ngFor="let service of services; let index = index; trackBy: trackByElement"
            class="card mt-4 text-white w-96 bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <div class="card-body">
                <h2 class="card-title">{{ service?.name }}</h2>
                <button *ngIf="service.last_status == 'healthy'"
                    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Healthy</button>
                <button *ngIf="service.last_status == 'unhealthy'"
                    class="text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Unhealthy</button>
                <button *ngIf="service.last_status == 'broken'"
                    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Broken</button>
                <p>{{ service?.apis.length || 0 }} API(s)</p>
                <div class="card-actions justify-center">
                        <button class="rounded-lg btn-square" [routerLink]="['services', service?._id]" matTooltip="View Details">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button class="rounded-lg btn-square" matTooltip="Change Settings">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <button class="rounded-lg btn-square" matTooltip="Remove Service" (click)="removeService(service?._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>