// Import the desired fonts
@import url('https://fonts.googleapis.com/css?family=Original Surfer');

.not-found{
    font-family: 'Original Surfer';
    font-size: 30px;
    color: #0052CC;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 2rem;
}