mat-dialog-actions{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100% !important;
}

.full-width {
    width: 95% !important;
}

.mat-form-field{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.save-button {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    // width: 95% !important;
}

