<mat-dialog-actions class="mb-2">
    <h2 mat-dialog-title>Define API</h2>
    <button (click)="close()" matTooltip="Close Modal"
        class="rounded-lg btn-square text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-orange-300 dark:focus:ring-orange-800">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-dialog-actions>
<mat-dialog-content>
    <form class="mt-2" [formGroup]="form" (submit)="createApi()">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Please provide your API Name" formControlName="name">
            <mat-error *ngIf="!name.valid && name.touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Method</mat-label>
            <mat-select [(value)]="method" formControlName="method">
                <mat-option value="GET">GET</mat-option>
                <mat-option value="POST">POST</mat-option>
                <mat-option value="PUT">PUT</mat-option>
                <mat-option value="DELETE">DELETE</mat-option>
                <mat-option value="PATCH">PATCH</mat-option>
                <mat-option value="COPY">COPY</mat-option>
                <mat-option value="HEAD">HEAD</mat-option>
                <mat-option value="OPTIONS">OPTIONS</mat-option>
            </mat-select>
            <mat-error *ngIf="!method.valid && method.touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>End Point</mat-label>
            <input matInput placeholder="Please fill the end-point of the API" formControlName="end_point">
            <mat-error *ngIf="!end_point.valid && end_point.touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <button class="save-button text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Add to Scheduler!</button>

    </form>
</mat-dialog-content>